body,
html {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: black;
    height: 480px;
}

.banner>.imgContainer>img {
    opacity: 0.8;
    width: 100%;
    height: max-content;
}

header {
    display: flex;
    background: #040a13;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header img {
    width: 3rem;
    height: 3rem;
}

.hero-btn {
    display: flex;
    position: absolute;
    margin: 0 auto;
    padding: 12px 32px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    bottom: 24%;
    background: #236fff;
    color: white;
}

.availableTests {
    display: none;
    position: absolute;
    opacity: 0;
    top: 70%;
    animation: testBox 0.8s ease-in-out forwards;
}

@keyframes testBox {
    from{
        top: 70%;
        opacity: 0;
    }
    to{
        top: 80%;
        opacity: 1;
    }
}

.closeTestBox{
    position: absolute;
    right: 2%;
    top: 2%;
    color: #383737;
    cursor: pointer;
}

.triangle{
    position: absolute;
    top: -12px;
    color: white;
}

.testBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 532px;
    height: max-content;
    padding: 32px;
    font-family: sans-serif;
    z-index: +2;
}

.testBoxContent>h2 {
    margin: 20px 8px;
    color: #343434;

}

.testBoxContent .testTypes a {
    display: flex;
    text-decoration: none;
    align-items: center;
    background: gray;
    color: white;
    padding: 10px 16px;
    margin: 8px;
    width: 5rem;
    height: 16px;
    justify-content: center;
    font-size: 12px;
}

.testTypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(332deg, #7F7FD5, #91EAE4);
    height: 8rem;
    padding: 4rem 8rem;
}

.section_1>span {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2e392a;
    line-height: 24px;
}

.section_1 p{
    font-family: sans-serif;
    font-size: 13px;
}

.section_1>button {
    display: flex;
    width: fit-content;
    padding: 12px 24px;
    border: none;
    background: #005ba3;
    color: white;
    border-radius: 2px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.section_2 {
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(20deg, #e9db97, #8fdfe2);
    height: 8rem;
    padding: 4rem 8rem;

}

.section_2>div>span {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2e392a;
    line-height: 24px;
}

.section_2 p{
    font-family: sans-serif;
    font-size: 13px;
}

.section_2>div>button {
    display: flex;
    width: fit-content;
    padding: 12px 24px;
    border: none;
    background: #015647;
    color: white;
    border-radius: 2px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

footer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: #000000;
    height: 12rem;
    padding: 32px;
    color: white;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-family: sans-serif;
}

.links>a {
    margin: 10px 0;
    font-size: 12px;
    cursor: pointer;
}

.copyright{
    font-size: 12px;
    font-family: sans-serif;
    position: absolute;
    bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
}
