.question .mathQue{
    display: flex;
    width: 100%;
}

.Qtext{
    width: 19rem;
}

@media screen and (max-width: 700px) {
    .question .mathQue{
        display: flex;
        flex-direction: column;
    }
    .question strong{
        margin: 10px;
    }
}

.questionImg{
    width: 16rem;
    height: 14rem;
    border: 1px solid lightgray;
    margin: 0 10px;
}

.questionText{
    margin-top: 5px;
    width: 50%;
    font-size: 16px
}

@media screen and (max-width: 700px) {
    .questionText{
        margin: 10px;
        width: auto;
    }
    .progress{
        margin-top: 10rem;
    }
}



/* Test Scrore  */
.testScore {
    display: none;
    padding: 4rem 6rem;
    font-family: sans-serif;
}

@media screen and (max-width: 900px) {
    .testScore {
        padding: 2rem;
    }
}

.testScore>div {
    background: lightgreen;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #373737;
    width: -webkit-fill-available;
}

.testScore>div>h3 {
    font-size: 32px;
    margin: 16px 0;
}

@media screen and (max-width: 650px) {
    .testScore {
        padding: 1rem;
    }
    .testScore>div>h3 {
        font-size: 24px;
    }
    .testScore>div {
        padding: 30px;
    }
    
}