.Btns {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
    position: relative;
}

.hero-btn {
    background: #44aa21;
}

button {
    display: flex;
    margin: 8px;
    padding: 12px 32px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    bottom: 24%;
    background: #236fff;
    color: white;
}

@media screen and (max-width: 650px) {
    button{
        font-size: 18px;
        padding: 8px 24px;
        margin: 4px;
    }
}

.mathTableOpts {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    width: 22rem;
    background: white;
    border: 1px solid lightgray;
    top: 70%;
    z-index: +1;
    margin-left: 14%;
    padding: 10px;
    font-family: sans-serif;
    animation: testBox 0.8s ease-in-out forwards;
}

@media screen and (max-width: 600px) {
    .mathTableOpts {
        width: 80%;
        margin-left: auto;
    }
}

@keyframes testBox {
    from {
        top: 70%;
        opacity: 0;
    }

    to {
        top: 85%;
        opacity: 1;
    }
}

.mathTableOpts a {
    display: flex;
    text-decoration: none;
    align-items: center;
    background: #036179;
    color: white;
    padding: 10px 16px;
    margin: 2px;
    width: 5rem;
    height: 16px;
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
}