.testInfo {
    display: flex;
    flex-direction: column;
    width: 50rem;
    position: relative;
    padding: 1rem 4rem;
    margin: 4rem 6rem;
    font-family: sans-serif;
    background: #aacdff;
}

@media screen and (max-width: 1200px) {
    .testInfo {
        width: 40rem;
    }
}

@media screen and (max-width: 900px) {
    .testInfo {
        width: 32rem;
        margin: 2rem;
    }
}

@media screen and (max-width: 730px) {
    .testInfo {
        width: fit-content;
    }
}

@media screen and (max-width: 650px) {
    .testInfo {
        height: 18rem;
    }
}

@media screen and (max-width: 500px) {
    .testInfo {
        margin: 0px;
        height: 20rem;
        padding: 1rem 2rem;
    }
}

.testName {
    font-size: 24px;
    color: #2a2a2a;
    font-weight: 600;
    margin-top: 2rem;
}

.subInfo {
    margin: 10px 0;
    line-height: 22px;
    font-size: 16px;
    color: #404040;
    font-weight: 500;
}

.otherInfo {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

@media screen and (max-width: 450px) {
    .otherInfo {
        flex-direction: column;
        align-items: flex-start;
    }
}

.testInfo .otherInfo button {
    border: none;
    padding: 10px;
    background: #0f71ff;
    font-size: 16px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0px;
    width: 10rem;
    bottom: 0px;
}

@media screen and (max-width: 650px) {
    .testInfo .otherInfo button {
        right: auto;
        bottom: 2%;
    }
}

/* Practice test  */
.practiceTest {
    display: none;
    margin: 4rem 6rem;
}

@media screen and (max-width: 1200px) {
    .practiceTest {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .practiceTest {
        margin: 2rem;
    }
}
@media screen and (max-width: 500px) {
    .practiceTest {
        margin: 1rem;
    }
}

.anotherTestOpts {
    display: flex;
    flex-direction: column;
    margin: 6rem;
}

@media screen and (max-width: 900px) {
    .anotherTestOpts {
        margin: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .anotherTestOpts {
        margin: 1rem;
        margin-top: 2rem;
    }
}

.Practice_Opts,
.Maths_Opts {
    display: flex;
    flex-wrap: wrap;
}


.anotherTestOpts .Practice_Opts .practiceTestBox {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-bottom: 8px;
    background: white;
    border: 1px solid lightgray;
    position: relative;
    padding: 16px;
    font-family: sans-serif;
    width: 18rem;
}

.BtnSpan {
    display: flex;
    position: relative;
    height: 3rem;
    align-items: center;
    margin: 10px 0;
}

.BtnSpan>button {
    position: absolute;
    right: 0;
    background: #0f71ff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
}

.anotherTestOpts .Maths_Opts button {
    background: #01810d;
    margin: 2px;
    border: none;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    width: 12rem;
}

.anotherTestOpts h2 {
    font-size: 24px;
    font-family: sans-serif;
    margin: 16px 0;
    color: #424242;
}

@media screen and (max-width: 500px) {
    .anotherTestOpts h2 {
        font-size: 18px;
    }
}

.questionArea {
    display: flex;
    flex-direction: column;
    width: 52rem;
    position: relative;
}

@media screen and (max-width: 1400px) {
    .questionArea {
        width: 42rem;
    }
}
@media screen and (max-width: 900px) {
    .questionArea {
        width: fit-content;
    }
}

form {
    margin-top: 1rem;
}

.question {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 20px;
    border: 1px solid lightgray;
}

.question strong {
    font-size: 20px;
    line-height: 30px;
    color: #474735;

}

.opt {
    display: flex;
    align-items: baseline;
    margin: 20px 0;
}

.opt label {
    display: flex;
    margin: 0 10px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    transition: 0.5s all;
    cursor: pointer;
}

.opt label:hover {
    background-color: rgb(237, 237, 237);
}

.answer {
    display: none;
    align-items: center;
    font-family: sans-serif;
    background: #ffd26e;
    padding: 8px 24px;
    margin-top: 1rem;
    height: 40px;
}

.nextQueBtn {
    position: absolute;
    right: 0%;
    bottom: -16%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: #0f71ff;
    cursor: pointer;
}

.progress {
    position: absolute;
    right: 0;
    font-family: sans-serif;
    padding: 20px;
    border: 1px solid #C5C5C5;
    margin: 0 2rem;
    width: 22rem;
    height: 10rem;
}

@media screen and (max-width: 1200px) {
    .progress {
        position: relative;
        margin: 0;
        margin-top: 5rem;
    }
}
@media screen and (max-width: 500px) {
    .progress {
        width: fit-content;
    }
}

.progress h2 {
    font-size: 16px;
    margin: 6px 0;
}

.progress>span {
    font-size: 12px;
    color: gray;
    font-style: italic;
    letter-spacing: 0.4px;
}

.checkAns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.checkAns>span {
    width: 30px;
    border: 1px solid gray;
    display: flex;
    height: 30px;
    border-radius: 2px;
    margin-right: 2px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sections {
    display: flex;
    flex-direction: column;
    height: auto;
}

.section_1,
.section_2 {
    width: auto;
    padding: 3rem 8rem;
}

@media screen and (max-width: 800px) {

    .section_1,
    .section_2 {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 500px) {

    .section_1,
    .section_2 {
        padding: 2rem;
    }

    .section_1>span,
    .section_2>div>span {
        font-size: 24px;
    }

    .section_1>p,
    .section_2>div>p {
        margin-top: 0px;
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .section_2>div {
        align-items: flex-start !important;
    }
}