body,
html {
    margin: 0;
    padding: 0;
    line-height: 1;
}
header {
    display: flex;
    background: #ffffe4;
    height: 60px;
    justify-content: center;
    align-items: center;
}
header img{
    width: 4rem;
    height: 4rem;
}
.questionArea{
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 20px;
    margin: 40px;
    position: relative;
}
.question{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background: #F3F3F3;
    padding: 20px;
    border-radius: 4px;
}
.question span{
    width: 24rem;
    margin: 24px 0;
    line-height: 20px;
}
.opt{
    margin: 8px 0;
}

.answer{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    background: #F3F3F3;
    padding: 10px;
    margin: 60px 0;
    height: 40px;
}
.nextQueBtn{
    position: absolute;
    right: 1%;
    bottom: 0%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    color: #424040;
    cursor: pointer;
    background: #D9D9D9;
}

.progress{
    font-family: sans-serif;
    padding: 20px;
    margin: 40px;
    border: 1px solid #C5C5C5;
    margin-top: 60px;
    width: 22rem;
    height: 10rem;
    border-radius: 4px;
}
.progress h2{
    font-size: 16px;
}
.checkAns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.checkAns>span{
    width: 30px;
    border: 1px solid gray;
    display: flex;
    height: 30px;
    border-radius: 2px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button{
    border: none;
    padding: 10px;
    background: #B7B7B7;
    color: white;
    border-radius: 4px;
    margin: 16px;
    cursor: pointer;
} 

.anotherTestOpts{
    display: flex;
    flex-direction: column;
    margin: 46px;
    margin-top: 2rem;
}
.anotherTestOpts .Practice_Opts button{
    width: 10rem;
    background: #B7B7B7;
}
.anotherTestOpts .Maths_Opts button{
    width: 10rem;
    background: #D9D9D9;
    color: #515151;
}
.anotherTestOpts h2{
    font-size: 16px;
    font-family: sans-serif;
    margin: 16px;
    color: #424242;
}